/* ===== FONTS ===== */

@font-face {
  font-family: 'BourgeoisBold';
  src: url('fonts/Bourgeois-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'BourgeoisMedium';
  src: url('fonts/Bourgeois-Medium.otf') format('opentype');
}


/* ===== RESET ===== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'BourgeoisBold', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;

  min-height: 100vh;   /* en vez de height */
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;    /* permite scroll vertical */
}


/* ===== HEADER ===== */

.site-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.site-logo {
  height: 40px;
}

.site-title {
  font-size: 22px;
  letter-spacing: 2px;
}


/* ===== RANKING ===== */

#ranking {
  width: 820px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

#ranking h1 {
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}


/* ===== LISTA ===== */

#teams {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;  /* antes 12 */
}

#teams li {
  background: #334155;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 13px;
  cursor: grab;
  transition: 0.15s ease;
}

#teams li:hover {
  background: #3b4a61;
}


/* ===== POSICIÓN (BOURGEOIS MEDIUM) ===== */

.position {
  width: 35px;
  font-size: 13px;
  font-family: 'BourgeoisMedium', sans-serif;
}


/* ===== LOGO 1:1 ===== */

.logo-box {
  width: 30px;
  height: 30px;
  min-width: 30px;
  background: #1e293b;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 3px;
}

.logo-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


/* ===== BOTÓN ===== */

button {
  margin-bottom: 15px;
  padding: 8px 22px;
  font-size: 13px;
  font-family: 'BourgeoisBold', sans-serif;
  background: #ff4c29;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.15s ease;
}

button:hover {
  background: #ff2c00;

}

